.DS_Store

Example/**/xcuserdata
Example/**/Pods

NextOfKin/build
KinSDK/Geth.framework
geth-commit

# test related files (ethereum testrpc):

truffle/node_modules
truffle/build

truffle/testrpc.log
truffle/testrpc.pid

truffle/truffle.log
truffle/token-contract-address

npm-debug.log

# Documentation

Docs/Output
